//GLOBAL variables



//colors

$brand-primary:         #CD483C
$brand-secondary:       #CD493B
$brand-third:           #DF362D
$base-dark:             #212630
$base-light:            #FFFCFC
$base-lighter:          #F6F5F5


/*darker red*/
/*dark red*/
/*lighter red*/
/*almost black*/
/*light grey*/
/*lighter grey*/

$black:                  #000
$white:                  #fff

//FONTS
$font-family-sans-serif:    -apple-system, system-ui, BlinkMacSsystemFont, "Segoe UI"
$font-family-roboto:        'Roboto Slab', serif
$font-family-base:                 $font-family-sans-serif

$font-base:                 1rem  
$font-large:                1.25rem
$font-xlg  :                2rem

$font-w-n:                  normal
$base-line-h:               1.25



//Borders

$border-width:              1px
$border-radius:             10px


//BUTTONS

$btn-main-color:             $base-lighter
$btn-primary-bg:             $brand-primary
$btn-dark-bg:                $base-dark
$btn-third-bg:               $brand-third


$btn-border-primary:        $brand-primary
$btn-border-dark:           $base-dark
$btn-border-third:          $brand-third


$btn-padding-x:             1rem
$btn-padding-y:             .5rem
$btn-light-h:               $base-line-h
$btn-trans:                 all,.2s ease-in-out